<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>NavBar</title>
</head>
<body>

<div th:fragment="navbarFrag">
    This is the navbar content
    <nav>
        <ul>
            <li>
                <!--<form th:action=@{/logout}" th:method="POST">-->
                    <button class="btn">Logout</button>
                </form>
            </li>
            <li>Link 1</li>
            <li>Link 2</li>
            <li>Link 3</li>
        </ul>
    </nav>
</div>

</body>
</html>